.home{

    .introduce{

        img{
            width: 100%;
            
        }
        margin-bottom: 10px;
    }

    .hot-sale{
        margin-top: 20px;
        

        .hot-sale_title{
            padding: 10px 20px;
            background:white;
            
        }
    }
}